body {
  font-family: Arial, sans-serif;
  background-color: #bebebe;
  margin: 0;
  padding: 0;
}

.blog-post-card {
  background-color: #ffffff;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  text-align: center;
}

.post-img {
  width: 100%;
  height: auto;
  border-radius: 5% 5% 0 0;
  border-bottom: 4px solid #ffffff;
}

.post-content {
  padding: 25px;
}

.post-title {
  margin: 10px;
  color: #333;
}
.post-excerpt {
  margin: 20px;
  color: #666;
}

.read-more {
  background-color: rgb(46, 42, 42);
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 5%;
  text-decoration: none;
  display: inline-block;
}

.read-more:hover {
  background-color: rgb(70, 68, 68);
}
